/* .world-map{
background-image: url(/Images/image.png);
background-repeat: no-repeat;
} */

.world-map:hover{
    background-image: url(/Maps/wmap_color.jpg);
    /* float: right; */
    padding-top:50%;
    background-repeat: no-repeat;
}